<%= stylesheet_link_tag "featured" %>
<div class="featuredcontainer">
  <h1 class="featuredtitle">
    Latest from the blog...
  </h1>
  <div class="featuredpost">
    <% @posts.reverse.first(1).each do |post| %>
      <div class="featuredimgContainer">
        <%= image_tag("/p1.jpeg", :alt => "Image Placeholder", :class => "featuredimage") %>
      </div>
      <div class="featuredtextContainer">
        <h1 class="featuredpostTitle">
          <%= link_to post.title, select_post_path(post.id)%>
        </h1>
        <p class="featuredpostDesc">
          <%= truncate(post.content, :length => 1000) %>
        </p>
        <%= button_to "Read More", select_post_path(post.id), class:"featuredbutton", method: :get %>
      </div>
    </div>
  </div>
<% end %>
</div>