<%= stylesheet_link_tag "footer" %>
<div class="footercontainer">
  <div class="footerinfo">
    <div class="footerlogo">
      <%= image_tag("/logo.png", :alt => "Image Placeholder", :style => "width: 50px; height: 50px;") %>
      <h1 class="footerlogoText">...not a feature</h1>
    </div>
    <p class="footerdesc">
      Built with <%= link_to "Ruby on Rails", "https://rubyonrails.org/", style: "color: crimson;"%>, this blog is my way of putting pen to paper and organising my knowledge in some kind of way that I can share with others. I hope you find something you like here, and would encourage you to get in contact if you'd like to contribute!
    </p>
  </div>
  <div class="footerlinks">
    <div class="footerlist">
      <span class="footerlistTitle">Links</span>
      <%= link_to "Home",     homepage_path       %>
      <%= link_to "Contact",  get_contact_path    %>
      <%= link_to "About",    get_about_path      %>
    </div>
    <div class="footerlist">
      <span class="footerlistTitle">Categories</span>
      <a href="/">Testing</a>
      <a href="/">Development</a>
      <a href="/">Category 1</a>
      <a href="/">Category 2</a>
    </div>
  </div>
</div>
