<%= stylesheet_link_tag "menuCategories" %>
<div class="menucategorycategoryList">
  <%= link_to "Testing Category", home_post_path, class: ("menucategorycategoryItem menucategorytesting") %>
  <%= link_to "Development Category", home_post_path, class: ("menucategorycategoryItem menucategorydevelopment") %>
  <%= link_to "Category 1", home_post_path, class: ("menucategorycategoryItem menucategorycategory1") %>
  <%= link_to "Category 2", home_post_path, class: ("menucategorycategoryItem menucategorycategory2") %>
</div>
