<%= stylesheet_link_tag "homepage" %>
<div class="homecontainer">
  <%= render partial: "featured" %>
  <%= render partial: "categoryList" %>
  <div class="homecontent">
    <%= render partial: "cardList" %>
    <%= render partial: "menu" %>
  </div>
</div>