<%= stylesheet_link_tag "singlePage" %>
<div class="singlepagecontainer">
  <div class="singlepageinfoContainer">
    <div class="singlepagetextContainer">
      <h1 class="singlepagetitle">
        Lorem ipsum dolor sit amet consectetur!
      </h1>
      <div class="singlepageuser">
        <%= image_tag("/p1.jpeg", :alt => "Image Placeholder", :class => ("singlepageuserImageContainer singlepageavatar")) %>
        <div class="singlepageuserTextContainer">
          <span class="singlepageusername">User name</span>
          <span class="singlepagedate">Post date</span>
        </div>
      </div>
    </div>
    <%= image_tag("/p1.jpeg", :alt => "Image Placeholder", :class => ("singlepageimageContainer singlepageimage")) %>
  </div>
  <div class="singlepagecontent">
    <div class="singlepagepost">
      <div class="singlepagedescription">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Blanditiis tenetur, similique beatae, nostrum suscipit ea officia
          nam repellat sunt culpa saepe vero ad corrupti illo dignissimos.
          Incidunt iure ullam vero.
        </p>
        <h2>Second paragraph</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Blanditiis tenetur, similique beatae, nostrum suscipit ea officia
          nam repellat sunt culpa saepe vero ad corrupti illo dignissimos.
          Incidunt iure ullam vero.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Blanditiis tenetur, similique beatae, nostrum suscipit ea officia
          nam repellat sunt culpa saepe vero ad corrupti illo dignissimos.
          Incidunt iure ullam vero.
        </p>
      </div>
      <%= render partial: "comments", :class => "singlepagecomments" %>
    </div>
    <%= render partial: "menu" %>
  </div>
</div>
